<div class="add-book">
    <h2 class="landing landing__title">
        Add a book
    </h2>
    <form class="add-book">
        <label>Title:</label><br/>
        <input type="text"/>
        <br/>
        <label>Author:</label><br/>
        <input type="text"/>
        <br/>
        <label>Year Release:</label><br/>
        <input type="text"/>
        <br/>
        <label>Image:</label><br/>
        <input type="text"/>
        <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
</div>
