<div class="view-book">
    <h2 class="landing landing__title">
        Your book
    </h2>
    <div class="add-book">
        <p>Title:</p><br/>
        <br/>
        <p>Author:</p><br/>
        <br/>
        <p>Year Release:</p><br/>
        <br/>
        <p>Image:</p><br/>
        <br/>
    </div>
</div>
