<div class="landing-container">
    <h2 class="landing landing__title">
        Books Dictionary - Node.js Learning Adventure 1
    </h2>
    <div class="landing__hero">
        <div class="container-row">
            <a class="container-row container-row__item" href="/api/books" aria-label="books">
                <h4>List all books</h4>
            </a>
        </div>
        <div class="container-row">
            <a class="container-row container-row__item" href="/api/mongo" aria-label="mongo">
                <h4>API Call To MongoDB</h4>
            </a>
        </div>
    </div>
</div>
